.SurveyForm__main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.SurveyForm__card {
    margin-bottom: 20px;
    width: 70%;
    border-radius: 20px;
    border: 2px solid #212121;
}

.SurveyForm__form {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
